*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: aqua; */
}
#nav{
    width: 100%;
    /* background-color: rgb(141, 47, 67); */
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}
#nav h3{
    font-size: 20px;
    font-weight: 600;
}
#nav h2{
    font-size: 20px;
    font-weight: 600;
}
#nav h4{
    font-size: 20px;
    font-weight: 600;
}
#nav-part1{
    width: 40%;
    display: flex;
    justify-content: space-between;
}
#nav-part2{
    width: 35%;
    display: flex;
    justify-content: space-between;
}

#content{
    margin-top: 60px;
    padding: 40px 65px;
}
#content h3{
    font-size: 40px;
    font-weight: 600;
}
#content h1{
    font-size: 120px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -9px;
    word-spacing: 12px;
}
#case{
    padding: 40px 65px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#case h4{
    font-size:24px;
    font-weight: 600;
}
#case h5{
    font-size:24px;
    font-weight: 600;
}
#right{
    display: flex;
    align-items: center;
    gap: 40px;
}
#line{
    height: 2px;
    width: 130px;
    background-color: black;
}
#projects{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 65px;
  gap: 80px;
}
.elem{
    width: 50%;
}
.elem-image{
    height: 860px;
    width: 100%;
    background-color: rgb(144, 179, 183);
    border-radius: 30px;
    background-position: center;
    background-size: cover;
}
#img1{
    background-image: url(https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSMEdqZ7DttjmaAPoXEw3mj0l2tGZs5zYkJlTT4wyzRBB56nSdj);
}
#img2{
    background-image: url(https://play-lh.googleusercontent.com/rE-h8eMtkJwHu3j_GlC684nagQm7tmpvf5SBXKx5y8DeQE1e3Vq8VgbgNUeOdYil9Bk=w2560-h1440-rw);
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}
.bottom i{
    padding: 14px 30px;
    font-size:20px;
    border:2px solid black;
    border-radius: 50px;
}
.bottom i:hover{
    background-color: black;
    color: white;
    font-weight: 900;
}
.bottom h2{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}
.bottom h4{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #565353;
}